@using Matrimonial.Models;
<style>
    .form-group.input-group {
        width: 300px;
        margin-top: 5px;
  }
</style>

@if (Session["user"] != null) {
    @*<li>
        <div class="input-group form-group"><input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span></div>
    </li>*@
    <li class="dropdown">
        <a href="@Url.Action("Search","User")"  role='button'><i class="fa fa-fw fa-search"></i>&nbsp;Search</a>
    </li>
    <li><a href="@Url.Action("ShortLists","User")"><i class="fa fa-fw fa-list-ul"></i>&nbsp;My ShortList</a></li>
    <li><a href="@Url.Action("Proposals","User")"><i class="fa fa-fw fa-heart"></i>&nbsp;Proposals</a></li>
    <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='true'><i class="fa fa-fw fa-user"></i>@{ UserProfile u = (UserProfile) Session["user"]; }@u.FirstName &nbsp;&nbsp;<span class='fa fa-angle-down'></span></a>
        <ul class='dropdown-menu' role='menu'>
            <li><a href=@Url.Action("ViewProfile","User")><i class="fa fa-fw fa-user"></i>View Profile</a></li>
            <li><a href=@Url.Action("EditProfile","User")><i class="fa fa-fw fa-gear"></i>Edit Profile</a></li>
            <li class='divider'></li>
            <li><a href="@Url.Action("LogOut","Account")"><i class="fa fa-fw fa-power-off"></i>Logout</a></li>
        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About Us", "About", "Home")</li>
    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
    <li>@Html.ActionLink("FAQ's", "FAQs", "Home")</li>
    <li>@Html.ActionLink("Sign in", "Login", "Account" ,routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Create Free Account", "Register", "Account" ,routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
